*
{   
    margin: 0px;
    padding:0px;
}
.container
{  
    margin: 30px;
    padding:30px;
    display:flex;
    flex-direction: row-reverse;
    align-content: flex-end;
    position: relative;
}   
.left-section
{
font-family: arial,sans-serif;
text-align: left;
display: flex;
flex:1;
flex-direction:column;
}
.two
{
    padding:60px;
    width: 158px;
    height: 33px;
}
.left-section ,h1
{
    color: black;
    padding: 30px;
}
.left-section ,span h1
{ 
padding: 60px;
color: red;
text-align: left-justified;
font-family: 'Courier New';
}
.left-section,p
{
   color: brown;
   text-align: left;
   margin-right: 40ch;
}
.email
{   
    margin-left:120px;
    display: flex;
    justify-content:left;
    border-width:20px ;
}
.email input
{
    flex:10px;
    font-size:20px;
}
.email button
{
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
}
.email button img
{
width: 50px;
display: flex;
}
.right-section
{ 
right:16px;
top:30px;
position:absolute;
}

